<!DOCTYPE html>
<html>
  {% include head-home.html %}
  <body>
  <nav class="border fixed split-nav">
    <div class="nav-brand">
      <h3><a href="#">{{ site.name }}</a></h3>
    </div>
    {% include nav-home2.html %}
  </nav>
  <div class="margin"></div>
  <div class="row flex-center">
    <div class="sm-3 col margin-large border-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">I speak with computers</h4>
          <h5 class="card-subtitle">through these programming languages</h5>
          <div class="row">
            <div class="progress margin-bottom">
              <div class="bar w-80">Angular - 80%</div>
            </div>
            <div class="progress margin-bottom">
              <div class="bar secondary w-80">Javascript - 80%</div>
            </div>
            <div class="progress margin-bottom">
              <div class="bar success w-70">Laravel - 70%</div>
            </div>
            <div class="progress margin-bottom">
              <div class="bar warning w-80">PHP - 80%</div>
            </div>
            <div class="progress margin-bottom">
              <div class="bar danger w-90">HTML - 90%</div>
            </div>
            <div class="progress margin-bottom">
              <div class="bar danger w-65">CSS - 65%</div>
            </div>
            <div class="progress margin-bottom">
              <div class="bar muted w-75">Ionic - 70%</div>
            </div>
            <div class="progress margin-bottom">
              <div class="bar muted w-25">Python - 25%</div>
            </div>
            <div class="progress">
              <div class="bar muted w-25">Flutter - 25%</div>
            </div>
          </div>
          <!-- TODO : Fix contact me -->
          <button>Contact Me</button>
        </div>
      </div>
    </div>
    <div class="sm-3 col margin-large border-6">
      <div class="card">
        <img alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
        <div class="card-body">
          <h4 class="card-title">{{ site.name }}</h4>
          <h5 class="card-subtitle">{{ site.description }}</h5>
          <p class="card-text">I am not open for freelancing at the moment, but open for consultation and mentoring</p>
        </div>
      </div>
    </div>
    <div class="sm-3 col margin-large border-5">
      <div class="card">
        <img alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
        <div class="card-body">
          <h4 class="card-title">{{ site.name }}</h4>
          <h5 class="card-subtitle">{{ site.description }}</h5>
          <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
          <button>Let me go here!</button>
        </div>
      </div>
    </div>
  </div>
    <!--<div class="menuAc">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    <div class="baslik">
      {{ site.name }}
    </div>
    <div class="orta">
      <div class="ortala">
        <div class="resim">
          <img alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
        </div>
        <div class="pc">
          {% include nav-home.html %}
        </div>
        <div class="aciklamalar">
          {{ site.description }}
        </div>
      </div>
    </div>
    {% include social-links.html %}-->
  </body>
</html>
